.navbar-dark{
  .navbar-toggler{
    border-color: rgba(255, 255, 255, 0.6);
  }
  &:hover{
    border-color: #ffffff;
  }
}
#certificates{
  .card{
    .card-body{
      background: rgba(0,0,0,0.03);
    }
  }
  img{
    border: 0.625em solid #9c9595;
  }
}
#projects, #tasks{
  background: #487965;
  background-size: cover;
  .container{
    padding-top: 5%;
    padding-bottom: 5%;
    .card{
      border: 1px solid white;
      .card-body{
        color: white;
      }
    }
    .card-header{
      background: transparent;
      .btn-link{
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

.project-slider{
  width: 80%;
  margin: auto;
  padding-top: 50px;
  img{
    width: 100%;
    height: auto;
    border: 0.375em solid #487965;
    outline: 0.375em solid #487965;
  }
}
.slick-prev:before, .slick-next:before{
  color: #487965;
}