.navbar-dark{
  .navbar-toggler{
    border-color: rgba(255, 255, 255, 0.6);
  }
  &:hover{
    border-color: #ffffff;
  }
}
#about{
  .img-thumbnail{
	margin-top: 3rem; 
	border: 1px solid #78c2ad; 
	border-radius: 50%;
  }
  .icons-p{
    margin: 0;
	font-weight: bold;
	color: #78c2ad;
  }
  .fa-php{
    font-size: 24px; 
  }
  .fa-js{
    font-size: 20px; 
  }
  .location-p{
    margin: 0;
	font-weight: 500;
  }
}
#certificates{
  .card{
    .card-body{
      background: rgba(0,0,0,0.03);
    }
  }
  img{
    border: 0.5rem solid #9c9595;
  }
}
#skills{
  h3{
    color: #78c2ad; 
  }
}
#projects{
  background: #487965;
  background-size: cover;
  h3{
    padding-top: 4rem;
  }
  .container{
    padding-top: 5%;
    padding-bottom: 5%;
    .card{
      border: 1px solid white;
      .card-body{
        color: white;
      }
    }
    .card-header{
      background: transparent;
      .btn-link{
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

.project-slider{
  width: 90%;
  margin: auto;
  margin-top: 50px;
  img{
    width: 100%;
    height: auto;
  }
}
.slick-prev:before, .slick-next:before{
  color: #487965;
}
#contact{
  h5{
    color: #78c2ad; 
  }
}